
   
   
      
      .job-listing img {
        max-width: 100%;
        height: 200px; /* Set the fixed height for the images */
        object-fit: cover; /* Maintain aspect ratio and cover the container */
      }
      
      .job-listing:hover {
        transform: scale(1.1);
        opacity: 0.8;
      }
